@use './variables' as *;
@use './globals' as *;

//$primary-color: #50b9e9;
//
//body {
//  font-family: 'Arial', sans-serif;
//}

//.v-btn {
//  background-color: $primary-color;
//}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
